[Unit]
Description=udiskie automounter
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/udiskie -a -n -c /home/embik/.config/udiskie/config.yml

[Install]
WantedBy=default.target
