[init]
    defaultBranch = main

[user]
    name = Marvin Beckers
    email = {{ .git_email }}
    signingkey = {{ .git_signing_key }}

[push]
    autoSetupRemote = true

[core]
	excludesFile = ~/.gitignore

# set up difftastic as diff tool
[diff]
    external = difft
