/* https://cloudninja.pw/docs/wofi.html */
window {
    border: 2px solid #ebdbb2;
    background-color: #222222;
	font-family: "OverpassMono";
	font-weight: bold;
}

#input {
    border: 2px solid #111111;
    background-color: #222222;
    font-size: 18px;
    color: white;
}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}

#entry:selected {
    background-color: #ADB788;
}
